html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $text-font-stack;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  color: white;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

#root {
  height: inherit;
  > div {
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  .content-container {
    background: linear-gradient(to right, $base-color, $dark-base-color);
  }
}

.ant-form-item {
  &-label {
    display: flex;
  }
}
