$text-font-stack: "Comic Sans MS", sans-serif;

$base-color: #2980b9;
$light-base-color: #66afec;
$dark-base-color: #005489;
$border-dark: rgba($base-color, 0.88);
$text-color: rgb(34, 34, 34) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;
$purple: #9d84b7;
$grey: #d5d5d5;
$teal: #b2f9fc;

$breakpoints: (
  "small": 375px,
  "medium": 768px,
  "large": 1024px,
) !default;
